<% if !@application_vacancy.has_cnh then %>
  <%= form_tag send_cnh_info_path(@application_vacancy.id), multipart: true, local: true, method: 'post' do %>
    <div class="row">
      <div class="col-md-12">
        <label for="">NOME COMPLETO</label>
        <%= text_field_tag :name, {}, value: input_value(@application_vacancy.document_cnh, 'name'), class: "form-control", placeholder: 'EX: JOÃO DA SILVA NETO' %>
      </div>

      <div class="col-md-6">
        <label for="">DOC.IDENTIDADE/ORG. EMISSOR / UF</label>
        <%= text_field_tag :rg, {}, value: input_value(@application_vacancy.document_cnh, 'rg'), class: "form-control", placeholder: 'EX: 12345678 SSP MT' %>
      </div>

      <div class="col-md-3">
        <label for="">CPF</label>
        <%= text_field_tag :cpf, {}, value: input_value(@application_vacancy.document_cnh, 'cpf'), class: "form-control", placeholder: 'EX: 123.456.789-10' %>
      </div>

      <div class="col-md-3">
        <label for="">DATA NASCIMENTO</label>
        <%= text_field_tag :data_nas, {}, value: input_value(@application_vacancy.document_cnh, 'data_nas'), class: "form-control", placeholder: 'EX: 10/09/1996' %>
      </div>

      <div class="col-md-6">
        <label for="">FILIAÇÃO: PAI</label>
        <%= text_field_tag :pai, {}, value: input_value(@application_vacancy.document_cnh, 'pai'), class: "form-control", placeholder: 'NOME DO PAI AQUI' %>
      </div>

      <div class="col-md-6">
        <label for="">FILIAÇÃO: MÃE</label>
        <%= text_field_tag :mae, {}, value: input_value(@application_vacancy.document_cnh, 'mae'), class: "form-control", placeholder: 'NOME DA MÃE AQUI' %>
      </div>

      <div class="col-md-12">
        <br>
        <%= submit_tag "Enviar", class: "btn btn-success" %>
      </div>
    </div>
  <% end %>
<% end %>