<% if !@application_vacancy.has_cnh then %>
  <%= form_tag send_cnh_info_path(@application_vacancy.id), multipart: true, local: true, method: 'post' do %>
    <div class="row">
      <div class="col-md-12">
        <label for="">NOME COMPLETO</label>
        <%= text_field_tag :name, {}, value: input_value(@application_vacancy.document_cnh, 'name'), class: "form-control", placeholder: 'EX: JOÃO DA SILVA NETO' %>
      </div>

      <div class="col-md-6">
        <label for="">DOC.IDENTIDADE/ORG. EMISSOR / UF</label>
        <%= text_field_tag :rg, {}, value: input_value(@application_vacancy.document_cnh, 'rg'), class: "form-control", placeholder: 'EX: 12345678 SSP MT' %>
      </div>

      <div class="col-md-3">
        <label for="">CPF</label>
        <%= text_field_tag :cpf, {}, value: input_value(@application_vacancy.document_cnh, 'cpf'), class: "form-control", placeholder: 'EX: 123.456.789-10' %>
      </div>

      <div class="col-md-3">
        <label for="">DATA NASCIMENTO</label>
        <%= text_field_tag :data_nas, {}, value: input_value(@application_vacancy.document_cnh, 'data_nas'), class: "form-control", placeholder: 'EX: 10/09/1996' %>
      </div>

      <div class="col-md-6">
        <label for="">FILIAÇÃO: PAI</label>
        <%= text_field_tag :pai, {}, value: input_value(@application_vacancy.document_cnh, 'pai'), class: "form-control", placeholder: 'NOME DO PAI AQUI' %>
      </div>

      <div class="col-md-6">
        <label for="">FILIAÇÃO: MÃE</label>
        <%= text_field_tag :mae, {}, value: input_value(@application_vacancy.document_cnh, 'mae'), class: "form-control", placeholder: 'NOME DA MÃE AQUI' %>
      </div>

      <div class="col-md-4">
        <label for="">NÚMERO REGISTRO</label>
        <%= text_field_tag :numero_registro, {}, value: input_value(@application_vacancy.document_cnh, 'numero_registro'), class: "form-control", placeholder: 'EX: 12345678901' %>
      </div>

      <div class="col-md-4">
        <label for="">VALIDADE</label>
        <%= text_field_tag :validade, {}, value: input_value(@application_vacancy.document_cnh, 'validade'), class: "form-control", placeholder: '30/07/2019' %>
      </div>

      <div class="col-md-4">
        <label for="">1º HABILITAÇÃO</label>
        <%= text_field_tag :primeira_hab, {}, value: input_value(@application_vacancy.document_cnh, 'primeira_hab'), class: "form-control", placeholder: '31/04/2018' %>
      </div>

      <div class="col-md-12">
        <label for="">NÚMERO DA HABILITAÇÃO</label>
        <%= text_field_tag :numero_hab, {}, value: input_value(@application_vacancy.document_cnh, 'numero_hab'), class: "form-control", placeholder: 'EX: 9823454345' %>
        <p><b>Número que fica ao lado esquerdo da Habilitação!</b></p>
      </div>

      <div class="col-md-12">
        <%= submit_tag "Enviar", class: "btn btn-success" %>
      </div>
    </div>
  <% end %>
<% end %>

<div class="row">
  <% if @application_vacancy.document_cnh.present? then %>
    <% if fill_docs(@application_vacancy.document_cnh) then %>
      <div class="col-md-6">
        <div class="row">
        <%= form_tag send_cnh_path(@application_vacancy.id), multipart: true, local: true, method: 'post' do %>
          <div class="col-md-10">
            <label for="">FOTO DA HABILITAÇÃO</label>
            <%= file_field_tag :cnh, class: 'form-control' %>
            <p>Importante: <b>A CNH precisa estar Nítida e aberta mostrando Frente e Verso!</b></p>
          </div>

            <div class="col-md-2">
              <label for=""></label>
              <%= submit_tag "Enviar Foto", class: "btn btn-success" %>
            </div>
          <% end %>
        </div>
        

        <% if @application_vacancy.cnh.attached? && @application_vacancy.cnh.attachment.blob.present? && @application_vacancy.cnh.attachment.blob.persisted? %>
          <p>CNH</p>
          <%= image_tag(@application_vacancy.cnh, width: "400px") %>
        <% end %>
      </div>
      
      <div class="col-md-6">
        <% if @application_vacancy.cnh.attached? && @application_vacancy.cnh.attachment.blob.present? && @application_vacancy.cnh.attachment.blob.persisted? %>
          <div class="row">
            <%= form_tag send_selfie_path(@application_vacancy.id), multipart: true, local: true, method: 'post' do %>
              <div class="col-md-10">
                <label for="">SELFIE SEGURANDO A CNH ABERTA</label>
                <%= file_field_tag :cnh_selfie, class: 'form-control' %>
                <p>Importante: <b>Seu rosto e a CNH precisam estar Nítidos!</b></p>
              </div>

              <div class="col-md-2">
                <label for=""></label>
                <%= submit_tag "Enviar Foto", class: "btn btn-success" %>
              </div>
            <% end %>
          </div>
        <% end %>

        <% if @application_vacancy.cnh_selfie.attached? && @application_vacancy.cnh_selfie.attachment.blob.present? && @application_vacancy.cnh_selfie.attachment.blob.persisted? %>
          <p>Selfie com CNH</p>
          <%= image_tag(@application_vacancy.cnh_selfie, width: "400px") %>
        <% end %>
      </div>


    <% else %>
      <div class="col-md-12">
      <br>
        <div class="alert alert-danger" role="alert">
          Existe campos pendentes, preencha para próxima etapa!
        </div>
      </div>
    <% end %>
  <% end %>
</div>

<br>
<% if @application_vacancy.cnh_selfie.attached? && @application_vacancy.cnh.attached? && fill_docs(@application_vacancy.document_cnh) then %>
  <div class="alert alert-success" role="alert">
    Sua documentação está completa, entraremos em contato para mais informações!
  </div>
<% end %>