<h1><%= @vacancy.name %> <span class="badge bg-secondary">Candidatura: <%= @application_vacancy.id %></span></h1>
<hr>
<p>Usuário: <b><%= @application_vacancy.user.email %></b></p>
<br>
<div class="row">
  <div class="col-md-12">
    <label for="">Cidade/Estado</label>
    <input type="text" class="form-control" value="<%= @vacancy.city.name %> - <%= @vacancy.city.state.name %>" readonly>

    <label for="">Título</label>
    <input type="text" class="form-control" value="<%= @vacancy.name %>" readonly>

    <label for="">Categoria</label>
    <input type="text" class="form-control" value="<%= @vacancy.category.name %>" readonly>

    <label for="">Faixa Salarial</label>
    <input type="text" class="form-control" value="<%= real(@vacancy.salary) %>" readonly>
  </div>
</div>

<label for="">Descrição</label>
<textarea class="form-control" rows="10" readonly><%= @vacancy.content %></textarea>

<br>
<div class="documentation">Documentação</div>
<hr>

<% if !@application_vacancy.has_cnh then %>
  <%= form_tag send_cnh_info_path(@application_vacancy.id), multipart: true, local: true, method: 'post' do %>
    <div class="row">
      <div class="col-md-12">
        <label for="">NOME COMPLETO</label>
        <%= text_field_tag :name, {}, value: input_value(@application_vacancy.document_cnh, 'name'), class: "form-control", placeholder: 'EX: JOÃO DA SILVA NETO', readonly: true %>
      </div>

      <div class="col-md-6">
        <label for="">DOC.IDENTIDADE/ORG. EMISSOR / UF</label>
        <%= text_field_tag :rg, {}, value: input_value(@application_vacancy.document_cnh, 'rg'), class: "form-control", placeholder: 'EX: 12345678 SSP MT', readonly: true %>
      </div>

      <div class="col-md-3">
        <label for="">CPF</label>
        <%= text_field_tag :cpf, {}, value: input_value(@application_vacancy.document_cnh, 'cpf'), class: "form-control", placeholder: 'EX: 123.456.789-10', readonly: true %>
      </div>

      <div class="col-md-3">
        <label for="">DATA NASCIMENTO</label>
        <%= text_field_tag :data_nas, {}, value: input_value(@application_vacancy.document_cnh, 'data_nas'), class: "form-control", placeholder: 'EX: 10/09/1996', readonly: true %>
      </div>

      <div class="col-md-6">
        <label for="">FILIAÇÃO: PAI</label>
        <%= text_field_tag :pai, {}, value: input_value(@application_vacancy.document_cnh, 'pai'), class: "form-control", placeholder: 'NOME DO PAI AQUI', readonly: true %>
      </div>

      <div class="col-md-6">
        <label for="">FILIAÇÃO: MÃE</label>
        <%= text_field_tag :mae, {}, value: input_value(@application_vacancy.document_cnh, 'mae'), class: "form-control", placeholder: 'NOME DA MÃE AQUI', readonly: true %>
      </div>
    </div>
  <% end %>
<% end %>

<div class="row">
  <div class="col-md-6">
    <br>
    <% if @application_vacancy.cnh.attached? && @application_vacancy.cnh.attachment.blob.present? && @application_vacancy.cnh.attachment.blob.persisted? %>
      <p>CNH</p>
      <%= image_tag(@application_vacancy.cnh, width: "400px") %>
    <% end %>
  </div>
  <div class="col-md-6">
    <br>
    <% if @application_vacancy.cnh_selfie.attached? && @application_vacancy.cnh_selfie.attachment.blob.present? && @application_vacancy.cnh_selfie.attachment.blob.persisted? %>
      <p>Selfie</p>
      <%= image_tag(@application_vacancy.cnh_selfie, width: "400px") %>
    <% end %>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <label for="">TELEFONE</label>
    <%= text_field_tag :phone, {}, value: input_value(@application_vacancy.contacts, 'phone'), class: "form-control", placeholder: 'EX: 11992929292', readonly: true %>
  </div>

  <div class="col-md-4">
    <label for="">CEP</label>
    <%= text_field_tag :cep, {}, value: input_value(@application_vacancy.contacts, 'cep'), class: "form-control", placeholder: 'EX: 01001-000', readonly: true %>
  </div>

  <div class="col-md-8">
    <label for="">LOGRADOURO</label>
    <%= text_field_tag :rua, {}, value: input_value(@application_vacancy.contacts, 'rua'), class: "form-control", placeholder: 'EX: Praça da Sé', readonly: true %>
  </div>

  <div class="col-md-12">
    <label for="">COMPLEMENTO</label>
    <%= text_field_tag :complemento, {}, value: input_value(@application_vacancy.contacts, 'complemento'), class: "form-control", placeholder: 'EX: lado ímpar', readonly: true %>
  </div>

  <div class="col-md-4">
    <label for="">BAIRRO</label>
    <%= text_field_tag :bairro, {}, value: input_value(@application_vacancy.contacts, 'bairro'), class: "form-control", placeholder: 'EX: Sé', readonly: true %>
  </div>

  <div class="col-md-4">
    <label for="">LOCALIDADE</label>
    <%= text_field_tag :localidade, {}, value: input_value(@application_vacancy.contacts, 'localidade'), class: "form-control", placeholder: 'EX: São Paulo', readonly: true %>
  </div>

  <div class="col-md-4">
    <label for="">UF</label>
    <%= text_field_tag :uf, {}, value: input_value(@application_vacancy.contacts, 'uf'), class: "form-control", placeholder: 'EX: SP', readonly: true %>
  </div>
</div>