<p id="notice"><%= notice %></p>

<h1>Categorias (<%= @categories.count %>)</h1>

<%= render 'button_new' %>
<br><br>
<table class="table">
  <thead>
    <tr>
      <th>Nome</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @categories.each do |category| %>
      <tr>
        <td><%= category.name %></td>
        <td>
          <%= link_to 'Ver', category, class: "btn btn-primary" %> | <%= link_to 'Editar', edit_category_path(category), class: "btn btn-warning" %> | <%= link_to 'Apagar', category, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= render 'button_new' %>
