<!DOCTYPE html>
<html>
  <head>
    <title>Vagas & Curriculos - <%= application_name %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag "application", media: "all" %>
  </head>

  <body>
    <%= render 'site/menu' %>
    <div class="container_site">
      <%= yield %>
    </div>
  </body>
</html>
